#about {
  margin-top: 100px;
  margin-left: 30px;
    
}


.aboutPartial
{
 	padding-top: 30px;
	padding-left: 10px;
	padding-right: 10px;
 	height: 500px;
 	width: 500px;
	background-color: #ffffff;
	margin: 0 auto;

}