/*RESET*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}




html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  background-color: white;
  font-family: 'Cabin', "Helvetica Neue", Helvetica, sans-serif;
}
body {
  line-height: 1;
  background-color: #ccc;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* END RESET */

$bck-clr: #7bc4d9;
$txt-clr: #0f2b33;
$font-stack: 'Raleway, san-serif';

.members {
  display: block;
  float: left;
  width: 100%;
  padding: 40px 0;
  background: #7d7d72 ;
}
.members-title {
  width: 100%;
  font-size: 50px;
  text-align: center;
  color: #FFFFF0;
  margin-bottom: 40px;
}
.members-list {
  margin: 0;
  padding: 0;
}
.members-list li {
  position: relative;
  display: block;
  float: left;
  width: 31.3%;
  margin: 1%;
  border: 1px solid #102035;
}
.members-list img {
  width: 100%;
}
.members-list h2 {
  z-index: 1;
  width: 100%;
  position: absolute;
  bottom: 33px;
  font-size: 35px;
  text-align: center;
  color: #FFFFF0;

}
.ang-view {
  display: block;
  float: left;

}
