#myfullscreen {

  width: 100%;
  height: 100%;
  background-color: #000000;
}
.gears {
  background: url("assets/imgs/gears.svg");
}

.slider{
  position: relative;
  text-align: center;
  /*margin-top: 88px;*/
  width: 100%;
  height: 100%;
}
.slide{
  width: 100%;
  position:absolute;
  top:0;
  left:0;
}
.slide img {
  /*width: 100%;*/
  height: 100%;
   
}
 


.leftarrow {
  height: 100px;
  width: 100px;
  position: absolute;
  top: 0;
  left:0;
  z-index: 31;
}

.rightarrow {
  height: 100px;
  width: 100px;
  position: absolute;
  top:0;
  right: 0;
  z-index: 31;
}


.arrowsizeRight{ 
  height: 50px!important;
  width: 50px;
  position: absolute;
    right: 0;
    top: 300px;

}

.arrowsizeLeft{ 
  height: 50px!important;
  width: 50px;
  position: absolute;
  left: 0;
  top: 300px;
}

.rightclick {
  height: 100%;
  width: 40%;
  position: absolute;
  top:0;
  right: 0;
  z-index: 31;
}

.leftclick {
  height: 100%;
  width: 40%;
  position: absolute;
  top:0;
  left: 0;
  z-index: 31;

}

.clickableAreaRight {
  text-align:right;
  height: 90%;
  width: 100%;
  position: absolute;
  top:0;
  right: 0;
  z-index: 31;
}

.clickableAreaLeft {
  height: 90%;
  width: 100%;
 
  position: absolute;
  top:0;
  left: 0;
  z-index: 31;
}



.arrows a {
  position: relative;
  display: block;
  margin: 0 auto;
  margin-top: 300px;

  /* height: 55px; */
  /* width: 55px; */
}
.arrows img{
  height: 102px; 
  /*width: 102px;  */
    z-index: 31;

}
.fsbutton {
  position: absolute;
  top: 9px;
  right: 9px;
  z-index: 31;
}

.backbutton {
  position: absolute;
  top: 9px;
  left: 9px;
  z-index: 31;
}



.slide.ng-hide-add, .slide.ng-hide-remove {
  -webkit-transition:all linear 0.5s;
  -moz-transition:all linear 0.5s;
  -o-transition:all linear 0.5s;
  transition:all linear 0.5s;
  display:block!important;
}

.slide.ng-hide-add.ng-hide-add-active,.slide.ng-hide-remove {
  opacity:0;
}

.slide.ng-hide-add,.slide.ng-hide-remove.ng-hide-remove-active {
  opacity:1;
}
.fs {
  height: 50px;
  width:50px;
  background: url("assets/imgs/move.svg") no-repeat ;
}

.backX {
  height: 50px;
  width: 50px;
  background: url("assets/imgs/backX.svg") no-repeat ;
}
