/*RESET*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #ccc;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END RESET */


html {
	-webkit-box-sizing: border-box;
  	   -moz-box-sizing: border-box;  
			box-sizing: border-box;
}

*, *:before, *:after {
	-webkit-box-sizing: inherit;
  	   -moz-box-sizing: inherit; 
			box-sizing: inherit;
}

body {
	background-color: white;
	font-family: 'Cabin', "Helvetica Neue", Helvetica, sans-serif;
}

nav.menu {
	margin-top: 0;
	background: transparent;
}

nav.menu ul {
	margin-top: 0;
	list-style-type: none;
}

nav.menu ul li {
	margin-top: 0;
}

nav.menu ul li a {
	text-decoration: none;
	font-family: 'Cabin', "Helvetica Neue", Helvetica, sans-serif;
	float: right;
	color: #f9f9f9;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	text-shadow: 0px 1px 0.5px rgba(0,0,0,0.75);
}

nav.menu ul li a:first-child {
	float: left;
}

nav.menu ul li a:nth-child(2) {
	margin-right: 1em;
}

#picture-main {
	color: #f8f8f8;
	background: #333 url('../pics/person.jpg') no-repeat center center / cover;
	text-align: center;
	height: 100vh;
}

.heading-wrapper {
	padding-top: 30vh;
	padding-bottom: 50vh;
	height: 20vh;
}

#main-callout {
	font-family: 'Cabin', "Helvetica Neue", Helvetica, sans-serif;
	text-align: center;
	color: #f0f0f0;
	font-size: 3.25em;
	color: #F0F0F0;
	letter-spacing: 1px;
	line-height: 63px;
	text-shadow: 0px 2px 4px rgba(0,0,0,0.50);
}

#signUp a {
	text-decoration: none;
	color: #f2f2f2;
	outline: none;
}

#signUp {
	font-family: 'Cabin', "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 400;
	cursor: pointer;
	margin-top: 5vh;
	text-align: center;
	font-size: 2.1em;
	background-color: rgba(74,74,74,0.25);
	border-radius: 4px;
	box-shadow: 0 0 0.1em #fff, 0 0 0.1em #fff;
	border: none;
	padding: 0.5em 2em;
	color: #f2f2f2;
	letter-spacing: 0.5px;
	line-height: 40px;
	outline: none;
	transition: 250ms;
}

#signUp:hover {
	background-color: rgba(74,74,74,0.50);
}

#signUp:active,
#signUp:focus {
	background-color: rgba(74,74,74,0.25);
	box-shadow: 0 0 0.1em #fff, 0 0 0.1em #fff;
}

#callout-text {
	margin: 5em auto;
	padding-left: 0.75em;
	padding-right: 0.75em;
	color: #333;
	text-align: center;
	font-family: 'Nunito', "Helvetica Neue", Helvetica, sans-serif;
}

#callout-text-heading {
	text-transform: uppercase;
	font-size: 2.5em;
	max-width: 950px;
	margin: 0 auto;
	font-weight: 400;
	line-height: 1.15;
}

#callout-text-body {
	margin: 1em auto 0;
	font-size: 1.75em;
	font-weight: 300;
	max-width: 650px;
	line-height: 1.25;
}

footer {
	font-family: 'Cabin', "Helvetica Neue", Helvetica, sans-serif;
	background-color: #f9f9f9;
	text-align: center;
	padding: 1.5em;
	font-size: 1em;
	color: #9b9b9b;
}

#gallery {
	display: relative;
	margin-right: 0;
	margin-left: 0;
}

#gallery img {
	width: 100%;
	margin-bottom: 6px;
}

/*.photo {
	position: relative;
	height: 400px;
	width: 500px;
	background: url('pics/mountain-lake.jpeg') no-repeat center center / cover;
}


.photo-overlay {
	position: absolute;
	height: 150px;
	right:0;
	bottom:0;
	left:0;
	background: rgba(74,73,74,0.00);
	background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 0%, #000000 100%);
}*/

.button {
	font-family: 'Cabin', "Helvetica Neue", Helvetica, sans-serif;
	padding: 0.75em 1.15em;
	border-radius: 3px;
	cursor: pointer;
	width: 85%;
}

.button:active,
.button:focus {
	outline: none;
}

.bottom-buttons {
	margin: 2.5em auto;
	text-align: center;
}

.button-blue {
	background: transparent;
	border: 1.5px solid #28C2F7;
	color: #28C2F7;
	font-size: 1.5em;
	margin-bottom: 1em;
}

.button-gray {
	background: transparent;
	border: 1px solid #4a4a4a;
	color: #4a4a4a;
	font-size: 1.5em;
}

#signup-form-container {
	background-color: #f9f9f9;
	padding: 3em 1em 3em;
	margin-top: 4em;
}

#form-login input,
#form-signup input {
	margin: 0.75em auto 1.25em;
	border-radius: 2.5px;
	padding-top: 0.6em;
	padding-bottom: 0.6em;
}

#login-submit,
#signup-submit {
	background-color: #58D4FF;
	color: #fff;
	transition: 250ms;
}

#login-submit:hover,
#signup-submit:hover {
	background-color: #28C2F7;
}

#check-title {
	display: inline;
	font-size: 1.5em;
	color: #333;
}

#login-check {
	display: inline;
	width: 25px;
	margin-left: 0.5em;
}

#login-check:active,
#login-check:focus {
	outline: none;
}

#not-ready-title {
	font-size: 2.5em;
	color: #4a4a4a;
	margin-top: 2em;
	margin-bottom: 1em;
	text-align: center;
}

#explore-more-button {
	display: block;
	margin: 0 auto;
}

#explore-more-button a {
	text-decoration: none;
	color: #4a4a4a;
	outline: none;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}




/* DEFAULT SMALL SCREEN */
@media screen and (min-width: 35.5em) {}


/* MEDIUM SCREEN */
@media screen and (min-width: 48em) {

	#callout-text {
		margin: 6em auto;
	}

	#callout-text-heading {
		font-size: 3em;
	}

	#callout-text-body {
		font-size: 2em;
	}

	.button {
		width: initial;
	}

	.button-blue {
		margin-right: 24px;
		margin-bottom: 0;
	}

	.bottom-buttons {
		margin: 5em auto;
	}

	footer {
		padding: 1.8em;
	}

}


/* LARGE SCREEN */
@media screen and (min-width: 64em) {
	
	#gallery img {
		width: 49.5%;
	}

	#callout-text {
		margin: 8em auto;
	}

	#callout-text-heading {
		font-size: 4em;
	}

	#callout-text-body {
		font-size: 3em;
	}

	#signup-form-container {
		margin-top: 8em;
		padding: 5em 1em 5em;
	}

	#form-login,
	#form-signup,
	#check-container {
		margin: 0 auto;
		max-width: 800px;
	}
}

/* LARGE SCREEN ONLY */
@media screen and (min-width: 64em) and (max-width: 80em) {

	#gallery img:nth-child(even) {
		margin-right: 0;
	}

}

/* XL SCREEN */
@media screen and (min-width: 80em) {

	#gallery img {
		width: 32.8%;
		margin-right: 6px;
	}

/*	#gallery img:nth-child(odd) {
		margin-right: 0;
	}

	#gallery img:nth-child(even) {
		margin-right: 0;
	}*/


	#gallery img:nth-child(3n+0) {
    	margin-right: 0;
	}

}




/* DEAL WITH IOS7 ISSUES REGARDING VH/VW */

/** 
 * iPad with portrait orientation.
 */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait){
  #picture-main,
  .heading-wrapper {
    height: 1024px;
  }
}
 
/** 
 * iPad with landscape orientation.
 */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape){
  #picture-main,
  .heading-wrapper {
    height: 768px;
  }
}
 
/**
 * iPhone 5
 * You can also target devices with aspect ratio.
 */
@media screen and (device-aspect-ratio: 40/71) {
  #picture-main,
  .heading-wrapper {
    height: 500px;
  }
}


/* ng-show / ng-hide */

/*.animate-show {
  line-height: 20px;
  opacity: 1;
  padding: 10px;
  border: 1px solid black;
  background: white;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}

.check-element {
  padding: 10px;
  border: 1px solid black;
  background: white;
}*/

/* END IOS STUFF 