<div id="about">

	
        
        <div class="info-personal group">
    			<div class="info-main"  class="portrait-size">
     				<img src="/assets/userportraits-imgs/{{currentUser.userportrait}}" id="avatar" ></a>
    			</div>
    	</div>

    <!-- hardcoded info about user obtained through the application controller -->
    	<div class="caption">
    		<h3 class="caption-title"> About the Photographer</h3>
    		<h4 class="nameSmall"> Public Name: {{currentUser.userpublicname}}</h4>
    		<h4 class="nameSmall"> User Name: {{currentUser.username}}</h4>
    		<h4 class="nanameSmallme"> User Portrait: {{currentUser.userportrait}}<h4>
    		<h4 class="nameSmall"> Project Title: {{currentUser.userblogtitle}}<h4>
    		<h4 class="nameSmall"> Project Description: {{currentUser.useraboutstory}}</h4>
    		<h4 class="nameSmall"> Favorite Photo in Collection: {{currentUser.userphoto}}</h4>
    		<img src="/assets/mbr-imgs/{{currentUser.userphoto}}  ">
      	</div>

   

    <!-- Update user info form -->
        <div ng-controller="AboutInfoCtrl">
            <form>
    			<fieldset name="exif" id="exif">
                    <label id="label-exif">About the Photographer</label>

                    <label for="userpublicname">Public Name:</label>
                    <input type="text" ng-model="userdata.userpublicname" id="input-userpublicname">
                    <br>
                    <label for="userportrait">User Portrait</label>
                    <input type="text" ng-model="userdata.userportrait" id="input-userportrait">
                    <br>
                    <label for="userblogtitle">Project Title:</label>
                    <input type="text" ng-model="userdata.userblogtitle" id="input-userblogtitle">
                    <br>
                    <label for="useraboutstory">Project Description</label>
                    <input type="text" ng-model="userdata.useraboutstory" id="input-useraboutstory">
                     <br>
                </fieldset>
                <input type="submit" ng-click="updata(userdata)" value="Submit Info" id="info-submit">
            </form>
        </div>

</div>




 