 <div class="aboutUs">
	 
	 <div class ="aboutUsText">
<h1>About the Full Pixel Project</h1>

<p>The world is moving toward mobile, but many people are still choosing to purchase large screens with increasing pixel densities.</p>

<p>FullPixel was designed as a photosharing application to enable people to go big - sharing the beauty of their large images in a way that can be appreciated on the highest resolution screens in the market.</p>

<p>FullPixel is an Angular SPA (single page application) with a Mongo database. It includes user registration and login functionality.</p>

<p>Full Pixel was a learning project - all of us would do things differently now that we've learned from building this application!</p>

<p>FullPixel is a demonstration project of the Portland Code School FullPixel team:</p>
<ul>
	<li>Matt Cordero</li>
	<li>Miles Hochstein</li>
	<li>Mike Montero</li>
	<li>Seth Shober</li>
			 
		 </div>
</div>
 
