<div class="aboutUs">
   <div class ="aboutUsText">
   	 	<div>
  			<div  entering="activeClass" leaving>
 				<h1>About the Project</h1>
 			</div>
 		</div>

<p>The world is moving toward mobile, but many people still choose to purchase large screens with increasing pixel densities.</p>

<p>Full Pixel was designed as a photosharing application to enable people to go big - sharing the beauty of their large images in a way that can be appreciated on the highest resolution screens in the market.</p>

<p>Full Pixel is an Angular SPA (single page application) connected to a MongoLabs Mongo database. It includes user registration and login functionality.  In addition, Create, Read, Update and Delete functions are under development.</p>

<p>Full Pixel was a learning project - all of us would do things differently now that we've learned from building this application!</p>

<p>Full Pixel is a demonstration project of the Full Pixel team at Portland Code School:</p>

		<ul>
			<li>Matt Cordero</li>
			<li>Miles Hochstein</li>
			<li>Mike Montero</li>
			<li>Seth Shober</li>
		</ul>			 

	</div>
</div>
 
