    <nav class="menu" id="photo-menu">
        <ul class="group">
            <li><a href="/#/">FullPixel</a></li>
            <li><a href="/#/upload">Upload</a></li>
            <li><a href="/#/profile">Profile</a></li>
            <li><a href="">Discover</a></li>
        </ul>
    </nav>
			
	<div id="photo-container">
		<img src="pics/trees.jpg" id="main-photo">
	</div>

	<div class="info-container">
		
		<div class="info-personal group">
			<div class="info-main">
				<a href="/#/profile"><img src="pics/avatar.png" class="avatar"></a>
				<h2 class="photo-title">The Great Outdoors</h2>
				<h3 class="name">Seth Shober</h3>
			</div>
		
			<div class="caption">
				<h3 class="caption-title">Caption</h3>
				<p class="caption-description">When we try to pick out anything by itself, we find it hitched to everything else in the Universe. </p>
			</div>

			<div class="tags">
				<ul>
					<li>mountains</li>
					<li>beauty</li>
					<li>lakes</li>
					<li>nature</li>
					<li>outdoors</li>
				</ul>
			</div>

		</div>

		<div class="info-meta">
			<h3 class="info-meta-title">Details</h3>
			<ul>
				<li>Camera</li>
				<li>Lumia 920</li>
			</ul>
			<ul>
				<li>Shutter Speed</li>
				<li>1/460 s</li>
			</ul>
			<ul>
				<li>Aperture</li>
				<li>f/2</li>
			</ul>
			<ul>
				<li>ISO/Film</li>
				<li>100</li>
			</ul>
			<ul>
				<li>Taken</li>
				<li>November 25, 2014</li>
			</ul>
		</div>

		<div class="info-location">
			<h3 class="info-location-title">Location</h3>
			<h4 class="info-location-geo">Mountains, Earth</h4>
			<div id="map-canvas"></div>
			<a href="/partials/map-page.html">
				<div id="info-location-map"></div>
			</a>
		</div>

	</div>

	<footer>FullPixel &hearts;</footer>
