

<div style="position: relative">
	<div id="banner-photo"></div>
	<div id="banner-main-overlay"></div>
	
	<div id="banner-main">
		
		<nav class="menu">
			<ul class="group">
				<li><a href="/#/">FullPixel</a></li>
				<li><a>Profile</a></li>
				<li><a href="">Discover</a></li>
			</ul>
		</nav>

		<div id="avatar-container">
			<img src="pics/avatar.png" id="avatar">
			<h2 id="avatar-name">Seth Shober</h2>
			<h3 id="avatar-location">The Americas</h3>
			<h3 id="avatar-camera">Nokia Lumia 920</h3>
		</div>
		
	</div> <!-- end banner main -->

</div>

<footer>FullPixel &hearts;</footer>