<div id="about">        
        <div class="info-personal group">
    			<div class="info-main"  class="portrait-size">
     				<img src="/assets/userportraits-imgs/{{currentUser.userportrait}}" id="avatar" ></a>
    			</div>
    	</div>
 

    <div class="members" ng-controller="MemberListCtrl">
        <h1 class="members-title">Members</h1>
        <ul class="members-list">
            <li ng-repeat="user in members | orderBy: '-date'">
                <a href="/#/{{user.username}}">
                    <img ng-src="assets/mbr-imgs/{{user.userphoto || 'default.jpg'}}">
                    <h2>{{user.username}}</h2>
                </a>
            </li>
        </ul>
    </div>


 
    	<div class="caption">
    		<h3 class="caption-title"> About the Photographer</h3>
    		<h4 class="nameSmall"> Public Name: {{currentUser.userpublicname}}</h4>
    		<h4 class="nameSmall"> User Name: {{currentUser.username}}</h4>
    		<h4 class="nanameSmallme"> User Portrait: {{currentUser.userportrait}}<h4>
    		<h4 class="nameSmall"> Project Title: {{currentUser.userblogtitle}}<h4>
    		<h4 class="nameSmall"> Project Description: {{currentUser.useraboutstory}}</h4>
    		<h4 class="nameSmall"> Favorite Photo in Collection: {{currentUser.userphoto}}</h4>
    		<img src="/assets/mbr-imgs/{{currentUser.userphoto}}  ">
      	</div>
</div>




 