
<div class='signup'id="sign">
   <div class="modal-body" class="check-element animate-show" ng-show="checked">

      <form ng-submit="login(username, password)" id="form-login">
         <label>Username</label>
         <input class="form-control" type="text" ng-model="username">

         <label>Password</label>
         <input class="form-control" type="password" ng-model="password">

         <input type="submit" value="Login to FullPixel" id="login-submit" ng-click="cancel()">
      </form>

   </div>



   <div class="modal-body" class="check-element animate-show" ng-hide="checked">

      <form ng-submit="register(username, password)" id="form-signup">
         <label>Username</label>
         <input class="form-control" type="text" ng-model="username">

         <label>Password</label>
         <input class="form-control" type="password" ng-model="password">

         <input type="submit" value="Sign up for FullPixel" id="signup-submit" ng-click="cancel()">
      </form>
   </div>

   <div id="check-container">
      <p id="check-title">Already registered?</p>
      <input type="checkbox" ng-model="checked" id="login-check">
   </div>

</div>

<div class="modal-footer">

   <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>