<div class="slider">
  <div class="cleanbackground"> 
  <div class="slide" ng-repeat="imgmeta in imgmetas" ng-show="imgmeta.visible">
        <img ng-src="{{imgmeta.path}}"/>  


<!--     <div class="arrows leftarrow"> </div>-->

    <div class="leftclick">
       <a href="#" ng-click="prev($event)">
            <div class = "clickableAreaLeft" >
               <div  entering="activeClass" leaving >

                <img class="arrowsizeLeft"  src="assets/imgs/leftGreyArrow.png"/>
              </div>          
          </div>
       </a>
    </div>
 
<!--     <div class="arrows rightarrow"> </div>--> 

    <div class="rightclick">
       <a href="#" ng-click="next($event)">
          <div class = "clickableAreaRight">
              <img class="arrowsizeRight" src="assets/imgs/rightGreyArrow.png"/>
          </div>
       </a>
    </div>
    

    <div class="fsbutton">
        <button class="fs" ngsf-toggle-fullscreen></button>
    </div>

    <div class="backbutton">
   
      <a href="/#/members">
        <button class="backX" > </button>
      </a>
    </div>

   </div>
  </div>
 </div>