
	<div id="picture-main">

		<nav class="menu">
			<ul class="group">
				<li><a href="/#/">FullPixel</a></li>
				<li><a href="/#/#signup-form-container">Sign Up</a></li>
				<li><a href="/#/#signup-form-container">Login</a></li>
			</ul>
		</nav>

		<div class="heading-wrapper">
			<h1 id="main-callout">The site that can finally handle your photos.</h1>
			<button id="signUp"><a href="/#/#signup-form-container">Get Started</a></button>
		</div>

	</div> <!-- end picture main -->

	<div id="callout-text">
		
		<h2 id="callout-text-heading">The Premiere Photo Site</h2>
		<h3 id="callout-text-body">Your pictures are beautiful. Let everyone know it.</h3>

	</div>

    <div class="members" ng-controller="MemberListCtrl">
        <h1 class="members-title">Members</h1>
        <ul class="members-list">
            <li ng-repeat="user in members | orderBy: '-date'">
                <a href="/#/{{user.username}}">
                    <img ng-src="assets/mbr-imgs/{{user.userphoto}}">
                    <h2>{{user.username}}</h2>
                </a>
            </li>
        </ul>
    </div>


	<div class='signup' id="signup-form-container">

	<!-- HIDE/SHOW LOGIN SIGNUP -->
	<!-- SIGNUP -->
		<div>
		  <!-- Show: -->
		  <div class="check-element animate-show" ng-show="checked" ng-controller="LoginCtrl">
		    
		    <form ng-submit="login(username, password)" id="form-login">
	        	<label>Username</label>
	        	<input class="form-control" type="text" ng-model="username">
	    	
	        	<label>Password</label>
	        	<input class="form-control" type="password" ng-model="password">
	    
	    		<input type="submit" value="Login to FullPixel" id="login-submit">
			</form>

		  </div>
		</div>

		<div>
		 <!--  Hide: -->
		  <div class="check-element animate-show" ng-hide="checked" ng-controller="RegisterCtrl">
		    
		    <form ng-submit="register(username, password)" id="form-signup">
	        	<label>Username</label>
	        	<input class="form-control" type="text" ng-model="username">
	    	
	        	<label>Password</label>
	        	<input class="form-control" type="password" ng-model="password">
	    	
	    		<input type="submit" value="Sign up for FullPixel" id="signup-submit">
			</form>

		  </div>
		</div>

		<div id="check-container">
			<p id="check-title">Already signed up?</p>
			<input type="checkbox" ng-model="checked" id="login-check">
		</div>

		<h4 id="not-ready-title">Not ready to signup?</h4>
		<button class="button button-gray" id="explore-more-button"><a href="">Explore more photos</a></button>

	</div>
	
	<footer>FullPixel &hearts;</footer>


