<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Welcome to Full Pixel</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
	<link rel="stylesheet" href="css/site.css">
	<link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
</head>

<body>

	<div id="picture-main">

		<nav class="menu">
			<ul class="group">
				<li>FullPixel</li>
				<li>Sign Up</li>
				<li>Login</li>
			</ul>
		</nav>

		<div class="heading-wrapper">
			<h1 id="main-callout">The site that can finally handle your photos.</h1>
			<button id="signUp">Get Started</button>
		</div>

	</div> <!-- end picture main -->

	<div class="callout-text">
		
		<h2 class="callout-text-heading">The Premiere Photo Site</h2>
		<h3 class="callout-text-body">Your pictures are beautiful. Let everyone know it.</h3>

	</div>


	<div id="gallery" class="group">
    	<img src="pics/beach.jpg" alt="beach" width="450" height="auto">
    	<img src="pics/beach.jpg" alt="beach" width="450" height="auto">
    	<img src="pics/beach.jpg" alt="beach" width="450" height="auto">
    	<img src="pics/beach.jpg" alt="beach" width="450" height="auto">
    	<img src="pics/beach.jpg" alt="beach" width="475" height="auto">
    	<img src="pics/beach.jpg" alt="beach" width="475" height="auto">
    	<img src="pics/beach.jpg" alt="beach" width="475" height="auto">
    	<img src="pics/beach.jpg" alt="beach" width="475" height="auto">
    	<img src="pics/beach.jpg" alt="beach" width="475" height="auto">
    	<img src="pics/beach.jpg" alt="beach" width="475" height="auto">
    	<img src="pics/beach.jpg" alt="beach" width="475" height="auto">
    	<img src="pics/beach.jpg" alt="beach" width="475" height="auto">
	</div>

	<div class="bottom-buttons">
		<button class="button button-blue">Sign up for FullPixel</button>
		<button class="button button-gray">Explore more photos</button>
	</div>

	<footer>FullPixel &hearts;</footer>

	<script>

		// var signUp     = document.getElementById('signUp'),
		// 	picture    = document.getElementById('picture-main'),
		// 	photos     = ['sky.jpg', 'beach.jpg', 'person-cam.jpg', 'drop.jpg', 'person.jpg', 'trees.jpg', 'field.jpg', 'stones.jpg', 'shore-rock.jpg', 'eagle.jpg'],
		// 	photoIndex = Math.floor(Math.random() * photos.length);

		// function showModal () {
		// 	modal.style.display = 'block';
		// }

		// function changePhoto (photos) {
		// 	picture.style.background = "url(pics/" + photos[photoIndex] + ") #333 no-repeat center center / cover";
		// 	if ( photoIndex < photos.length - 1 ) { photoIndex ++; }
		// 	else { photoIndex = 0; }
		// 	console.log("photo index: " + photoIndex);
		// }

		// (function(){ picture.style.background = "url(pics/" + photos[photoIndex] + ") #333 no-repeat center center / cover"; })();

		// setInterval(function(){ changePhoto(photos); }, 5000);

		// signUp.addEventListener('click', showModal, false);



		// // fade out

		// function fadeOut(el){
		//   el.style.opacity = 1;

		//   (function fade() {
		//     if ((el.style.opacity -= .1) < 0) {
		//       //el.style.display = "none";
		//     } else {
		//       requestAnimationFrame(fade);
		//     }
		//   })();
		// }

		// // fade in

		// function fadeIn(el, display){
		//   el.style.opacity = 0;
		//   //el.style.display = display || "block";

		//   (function fade() {
		//     var val = parseFloat(el.style.opacity);
		//     if (!((val += .1) > 1)) {
		//       el.style.opacity = val;
		//       requestAnimationFrame(fade);
		//     }
		//   })();
		// }

		// var el = document.querySelector('.js-fade');

		// // fadeOut(el);
		// // fadeIn(el);
		// // fadeIn(el, "inline-block");


	</script>

</body>
</html>