<div id="upload-container" ng-controller="UploadCtrl">


        <div id="upload-main">
            <h1 id="main-title">Upload A Photo</h1>
            <input id="upload-button" type="file" ng-file-select="onFileSelect($files)" >
            <!-- <button id="upload-button">Choose Photo</button> -->
            <img src= "/uploads/{{fileout}}" width="600" >
            <!-- <div id="photo"></div> -->
        </div>
        <div  id="upload-meta">
            <form novalidate class="group" id="upload-form">
                <span>{{fileout}}</span>
                <span>{{currentuser}}</span>
                <fieldset name="description">
                    <label for="title" id="label-userid">UserId</label>
                    <input type="text" ng-model="metadata.userid" id="input-userid">
                    <label for="title" id="label-imgpath">Path</label>
                    <input type="text" ng-model="metadata.path" id="input-path">

                    <label for="title" id="label-title">Title</label>
                    <input type="text" ng-model="metadata.imgtitle" id="input-title">
                    <label for="caption" id="label-caption">Caption</label>
                    <textarea name="caption" ng-model="metadata.imgdesc" rows="4" id="caption"></textarea>
                    <label for="tags" ng-model="metadata.imgtags" id="label-tags">Tags</label>
                    <input type="text" name="tags" id="input-tags">
                </fieldset>


                <input type="submit" ng-click="ImgUpdate(metadata)" value="Submit Photo" id="photo-submit">
            </form>

        </div>


</div>
        
<footer>FullPixel &hearts;</footer>


